<% stars = product.stars %>
<% reviews_count = product.reviews_count %>
<div class='star-rating star-rating mr-2 d-inline-block align-middle' title="<%= txt_stars(stars) %>">
  <%= render 'spree/reviews/stars', stars: stars %>
</div>

<span class='product-reviews text-muted'>
  <%= Spree.t(:aggregrate_reviews, count: reviews_count) %>
</span>
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
  <span itemprop="ratingValue" content="<%= stars %>"></span>
  <span itemprop="reviewCount" content="<%= reviews_count %>"></span>
</div>
